body{
    background-color: aqua;
}
.box1{
    background-color: #76c740; height: 150px; width: 300px;
}
.box2{
    background-color: hsl(11, 83%, 52%); height: 150px; width: 300px;
}
.box3{
    background-color: rgb(246, 206, 6); height: 150px; width: 300px;
}
.box4{
    background-color: rgba(50, 37, 191, 0.3); height: 150px; width: 300px;
}